.plan-holiday {
    background-color: black;
    color: white;
    font-weight: bold
}

.plan-visited {
    background-color: green;
    color: white;
    font-weight: bold
}

.plan-not-visited {
    background-color: red;
    color: white;
    font-weight: bold
}

.plan-comment {
    background-color: blue;
    color: white;
    font-weight: bold
}

.leave-request-approved {
    background-color: green;
    color: white;
    font-weight: bold
}

.leave-request-declined {
    background-color: red;
    color: white;
    font-weight: bold
}